body{
  background-color: #fffeed;
}

.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {grid-area: 2 / 3 / 3 / 4; }
.div2 { grid-area: 3 / 7 / 4 / 8; }
.div3 { grid-area: 5 / 6 / 6 / 7; }
.div4 { grid-area: 6 / 8 / 7 / 9; }
.div5 { grid-area: 7 / 5 / 8 / 6; }
.div6 { grid-area: 6 / 3 / 7 / 4; }
.div7 { grid-area: 5 / 2 / 6 / 3; }
.div8 { grid-area: 4 / 4 / 5 / 5; }

h1{
  position: relative;
  text-align: center;
  font-size: 2.2vh;
  border-radius: 5vw;
  border: 0.1vh solid #1b2863;
  padding: 1vh;
  font-family: 'Kaushan Script', cursive;
  color: #1b2863;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

#dropdowns {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #ebf1ff;
  min-width: 30vw;
  max-height: 22vh;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  overflow: auto;
  font-size: 2.3vh;
  font-family: 'Yantramanav', sans-serif;
  border-radius: 2vh;
}

#dropdowns:hover .dropdownContent {
  display: block;
}

.title{
  position: relative;
  text-align: center;
  font-size: 6vw;
  font-family: 'Permanent Marker', cursive;
  padding-top: 2vh;
  padding-bottom: 1vh;
  color: #1b2863;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 6vw;
  padding: 5vh;
}

.definition {
  grid-area: 1 / 1 / 2 / 2;
  padding-left: 14vw;
  /* text-indent:2vw; */
  font-size: 2.3vh;
  font-family: 'PT Sans', sans-serif;
  line-height: 3.8vh;
}

.image {
  grid-area: 1 / 2 / 2 / 3;
  width: 30vw;
  height: auto;
}

hr{
  width: 50%;
}

.nnn{
  position: relative;
  text-align: center;
  font-size: 3vh;
  font-family: 'Dancing Script', cursive;
  color: #1b2863;
  text-decoration: none;
}

.transition-fade {
  opacity: 1;
  transition: 500ms;
}

html.is-animating .transition-fade{
  opacity: 0;
}
